# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM Schema

In almost all cases, rather than just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins** using shared columns from the two tables. 

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database `'data.sqlite'`.

In [1]:
# Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston 

Hint: join the employees and offices tables.

In [2]:
# Your code here
cur.execute("""SELECT * 
               FROM employees
               JOIN offices
               ON employees.officeCode = offices.officeCode
               WHERE city = 'Boston'
               ;""")

# Take results and create DataFrame
df = pd.DataFrame(cur.fetchall()) 
df.columns = [i[0] for i in cur.description]
df.head()

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by.

In [3]:
# Your code here
cur.execute("""SELECT offices.officeCode, sum(employeeNumber) AS num_emp
               FROM offices
               JOIN employees
               USING(officeCode)
               GROUP BY officeCode
               ;""")

# Take results and create DataFrame
df = pd.DataFrame(cur.fetchall()) 
df.columns = [i[0] for i in cur.description]
df.describe()

       officeCode      num_emp
count    7.000000     7.000000
mean     4.000000  4387.714286
std      2.160247  1999.778714
min      1.000000  2404.000000
25%      2.500000  2807.000000
50%      4.000000  3246.000000
75%      5.500000  6269.000000
max      7.000000  6912.000000

## Write 3 Questions of your own and answer them

In [4]:
# Answers will vary
# Example: Display the htmlDescription and employee's first and last name for each product that each employee has sold

In [5]:
# Your code here

In [6]:
# Your code here

In [7]:
# Your code here

## Level Up: Display the names of every individual product that each employee has sold

In [33]:


# Your code here
cur.execute("""SELECT employeeNumber, productName FROM employees
               JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
               JOIN orders ON customers.customerNumber = orders.customerNumber
               JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
               JOIN products ON orderdetails.productCode = products.productCode
               ;""")

# Take results and create DataFrame
df1 = pd.DataFrame(cur.fetchall()) 
df1.columns = [i[0] for i in cur.description]
products_dict = {}
employees_list = df1['employeeNumber'].unique()
for number in employees_list:
    cur.execute("""SELECT employeeNumber, productName FROM employees
               JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
               JOIN orders ON customers.customerNumber = orders.customerNumber
               JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
               JOIN products ON orderdetails.productCode = products.productCode
               WHERE employeeNumber IS {}
               ;""".format(number))
    df2 = pd.DataFrame(cur.fetchall()) 
    df2.columns = [i[0] for i in cur.description]
    print(df2['productName'].unique())

['1958 Setra Bus' '1940 Ford Pickup Truck' '1939 Cadillac Limousine'
 '1996 Peterbilt 379 Stake Bed with Outrigger' '1968 Ford Mustang'
 '1968 Dodge Charger' '1970 Plymouth Hemi Cuda' '1969 Dodge Charger'
 '1948 Porsche 356-A Roadster' '1969 Dodge Super Bee'
 '1976 Ford Gran Torino' '1957 Vespa GS150' '1957 Corvette Convertible'
 '1982 Ducati 900 Monster' '1982 Lamborghini Diablo'
 '1971 Alpine Renault 1600s' '1956 Porsche 356A Coupe'
 '1961 Chevrolet Impala' '1982 Ducati 996 R' '1974 Ducati 350 Mk3 Desmo'
 '2002 Yamaha YZR M1' '2001 Ferrari Enzo' '1969 Corvair Monza'
 '1969 Ford Falcon' '1903 Ford Model A' 'Collectable Wooden Train'
 '1970 Triumph Spitfire' '1904 Buick Runabout' '18th century schooner'
 '1912 Ford Model T Delivery Wagon'
 "1950's Chicago Surface Lines Streetcar" '1962 City of Detroit Streetcar'
 'The Schooner Bluenose' 'The Mayflower' 'The Titanic' 'The Queen Mary'
 'Pont Yacht' '1937 Lincoln Berline'
 '1936 Mercedes-Benz 500K Special Roadster' '1917 Grand Touring Sedan'
 '1911 Ford Town Car' '1932 Model A Ford J-Coupe' '1928 Mercedes-Benz SSK'
 '1917 Maxwell Touring Car' '1932 Alfa Romeo 8C2300 Spider Sport'
 '1957 Ford Thunderbird' '1970 Chevy Chevelle SS 454'
 '1939 Chevrolet Deluxe Coupe' '1938 Cadillac V-16 Presidential Limousine'
 '1949 Jaguar XK 120' '1952 Citroen-15CV' '1969 Chevrolet Camaro Z28'
 '2002 Chevy Corvette' '1936 Mercedes Benz 500k Roadster'
 '1962 LanciaA Delta 16V' '1957 Chevy Pickup' '1964 Mercedes Tour Bus'
 '1926 Ford Fire Engine' '1992 Ferrari 360 Spider red' '1940s Ford truck'
 '1962 Volkswagen Microbus' '1958 Chevy Corvette Limited Edition'
 '1980’s GM Manhattan Express' '1954 Greyhound Scenicruiser'
 '1982 Camaro Z28' '1998 Chrysler Plymouth Prowler' '1970 Dodge Coronet'
 '1992 Porsche Cayenne Turbo Silver' 'Diamond T620 Semi-Skirted Tanker'
 '1952 Alpine Renault 1300' '1913 Ford Model T Speedster'
 '1934 Ford V8 Coupe' '18th Century Vintage Horse Carriage'
 '1936 Chrysler Airflow' '1940 Ford Delivery Sedan' '1993 Mazda RX-7'
 '1995 Honda Civic' '1969 Harley Davidson Ultimate Chopper'
 '1996 Moto Guzzi 1100i' '2003 Harley-Davidson Eagle Drag Bike'
 '2002 Suzuki XREO' '1936 Harley Davidson El Knucklehead'
 '1997 BMW R 1100 S' '1960 BSA Gold Star DBD34' 'P-51-D Mustang'
 '1928 British Royal Navy Airplane' 'Corsair F4U ( Bird Cage)'
 '1900s Vintage Tri-Plane' '1997 BMW F650 ST' '1928 Ford Phaeton Deluxe'
 '1930 Buick Marquette Phaeton' 'American Airlines: B767-300'
 'America West Airlines B757-200' 'ATA: B757-300' 'F/A 18 Hornet 1/72'
 'American Airlines: MD-11S' '1972 Alfa Romeo GTA'
 '1980s Black Hawk Helicopter' '1999 Yamaha Speed Boat'
 '1941 Chevrolet Special Deluxe Cabriolet' '1900s Vintage Bi-Plane'
 '1937 Horch 930V Limousine' 'HMS Bounty' 'Boeing X-32A JSF'
 '1965 Aston Martin DB5' '1999 Indy 500 Monte Carlo SS'
 '1966 Shelby Cobra 427 S/C']
['1917 Grand Touring Sedan' '1911 Ford Town Car'
 '1932 Model A Ford J-Coupe' '1932 Alfa Romeo 8C2300 Spider Sport'
 '1957 Ford Thunderbird' '1970 Chevy Chevelle SS 454'
 '1939 Chevrolet Deluxe Coupe' '1938 Cadillac V-16 Presidential Limousine'
 '1949 Jaguar XK 120' '1952 Citroen-15CV' '1969 Chevrolet Camaro Z28'
 '2002 Chevy Corvette' '1936 Mercedes Benz 500k Roadster'
 '1993 Mazda RX-7' '1965 Aston Martin DB5' '1948 Porsche 356-A Roadster'
 '1995 Honda Civic' '1999 Indy 500 Monte Carlo SS'
 '1992 Ferrari 360 Spider red' '1948 Porsche Type 356 Roadster'
 '1966 Shelby Cobra 427 S/C' '1982 Lamborghini Diablo'
 '1956 Porsche 356A Coupe' '1937 Lincoln Berline'
 '1969 Harley Davidson Ultimate Chopper' '1996 Moto Guzzi 1100i'
 '2003 Harley-Davidson Eagle Drag Bike' '2002 Suzuki XREO'
 'P-51-D Mustang' '1936 Harley Davidson El Knucklehead'
 '1997 BMW R 1100 S' '1928 British Royal Navy Airplane'
 '1960 BSA Gold Star DBD34' '1982 Ducati 900 Monster'
 '1900s Vintage Tri-Plane' '1997 BMW F650 ST' '1982 Ducati 996 R'
 '1974 Ducati 350 Mk3 Desmo' '2002 Yamaha YZR M1' 'ATA: B757-300'
 '1928 Mercedes-Benz SSK' '1912 Ford Model T Delivery Wagon'
 'The USS Constitution Ship' '1968 Dodge Charger' '1972 Alfa Romeo GTA'
 '1980s Black Hawk Helicopter' '1999 Yamaha Speed Boat'
 '1941 Chevrolet Special Deluxe Cabriolet' '1900s Vintage Bi-Plane'
 '1937 Horch 930V Limousine' '1940 Ford Delivery Sedan'
 'Corsair F4U ( Bird Cage)' 'The Schooner Bluenose' 'HMS Bounty'
 'America West Airlines B757-200' 'The Titanic' 'The Queen Mary'
 'American Airlines: MD-11S' 'Boeing X-32A JSF' 'Pont Yacht'
 '1969 Dodge Charger' '1930 Buick Marquette Phaeton'
 'American Airlines: B767-300' 'F/A 18 Hornet 1/72'
 '1952 Alpine Renault 1300' '1940 Ford Pickup Truck'
 '1936 Mercedes-Benz 500K Special Roadster' '1913 Ford Model T Speedster'
 '1934 Ford V8 Coupe' '18th Century Vintage Horse Carriage'
 '1917 Maxwell Touring Car' '1939 Cadillac Limousine'
 '1936 Chrysler Airflow']
['1952 Alpine Renault 1300' '1940 Ford Pickup Truck'
 '1913 Ford Model T Speedster' '1934 Ford V8 Coupe'
 '18th Century Vintage Horse Carriage' '1936 Chrysler Airflow'
 '1941 Chevrolet Special Deluxe Cabriolet' '1900s Vintage Bi-Plane'
 '1937 Horch 930V Limousine' 'HMS Bounty' 'Boeing X-32A JSF'
 '1968 Ford Mustang' '2002 Suzuki XREO' '1968 Dodge Charger'
 '1970 Plymouth Hemi Cuda' '1969 Dodge Super Bee' '1976 Ford Gran Torino'
 '1957 Vespa GS150' '1957 Corvette Convertible' '1982 Ducati 900 Monster'
 '1971 Alpine Renault 1600s' '1961 Chevrolet Impala' '1982 Ducati 996 R'
 '1974 Ducati 350 Mk3 Desmo' '2002 Yamaha YZR M1' 'The Queen Mary'
 '1972 Alfa Romeo GTA' '1980s Black Hawk Helicopter'
 '1999 Yamaha Speed Boat' '1940 Ford Delivery Sedan'
 'Corsair F4U ( Bird Cage)' '1930 Buick Marquette Phaeton'
 'American Airlines: B767-300' 'America West Airlines B757-200'
 'The USS Constitution Ship' 'F/A 18 Hornet 1/72'
 'American Airlines: MD-11S' '2001 Ferrari Enzo' '1969 Corvair Monza'
 '1969 Ford Falcon' '1903 Ford Model A' 'Collectable Wooden Train'
 '1970 Triumph Spitfire' '1904 Buick Runabout' '18th century schooner'
 '1912 Ford Model T Delivery Wagon' '1962 City of Detroit Streetcar'
 'The Schooner Bluenose' 'The Mayflower' 'The Titanic' 'Pont Yacht'
 '1993 Mazda RX-7' '1962 LanciaA Delta 16V' '1958 Setra Bus'
 '1940s Ford truck' '1939 Cadillac Limousine'
 '1996 Peterbilt 379 Stake Bed with Outrigger' '1982 Camaro Z28'
 '1969 Dodge Charger' '1948 Porsche 356-A Roadster'
 '1982 Lamborghini Diablo' '1956 Porsche 356A Coupe'
 '1937 Lincoln Berline' '1936 Mercedes-Benz 500K Special Roadster'
 '1917 Maxwell Touring Car' '1957 Chevy Pickup'
 '1998 Chrysler Plymouth Prowler' '1964 Mercedes Tour Bus'
 '1926 Ford Fire Engine' '1992 Ferrari 360 Spider red'
 '1970 Dodge Coronet' '1962 Volkswagen Microbus'
 '1958 Chevy Corvette Limited Edition' '1992 Porsche Cayenne Turbo Silver'
 '1980’s GM Manhattan Express' '1954 Greyhound Scenicruiser'
 "1950's Chicago Surface Lines Streetcar"
 'Diamond T620 Semi-Skirted Tanker' '1932 Model A Ford J-Coupe'
 '1939 Chevrolet Deluxe Coupe']
['2001 Ferrari Enzo' '1969 Corvair Monza' '1969 Ford Falcon'
 '1970 Triumph Spitfire' "1950's Chicago Surface Lines Streetcar"
 '1962 City of Detroit Streetcar' '1962 LanciaA Delta 16V'
 '1958 Setra Bus' '1957 Chevy Pickup' '1964 Mercedes Tour Bus'
 '1926 Ford Fire Engine' '1992 Ferrari 360 Spider red' '1940s Ford truck'
 '1939 Cadillac Limousine' '1962 Volkswagen Microbus'
 '1958 Chevy Corvette Limited Edition' '1980’s GM Manhattan Express'
 '1954 Greyhound Scenicruiser'
 '1996 Peterbilt 379 Stake Bed with Outrigger' '1982 Camaro Z28'
 '1969 Harley Davidson Ultimate Chopper' '1996 Moto Guzzi 1100i'
 '2003 Harley-Davidson Eagle Drag Bike' 'P-51-D Mustang'
 '1936 Harley Davidson El Knucklehead' '1997 BMW R 1100 S'
 '1960 BSA Gold Star DBD34' '1997 BMW F650 ST' 'ATA: B757-300'
 '1937 Lincoln Berline' '1936 Mercedes-Benz 500K Special Roadster'
 '1999 Yamaha Speed Boat' '1941 Chevrolet Special Deluxe Cabriolet'
 '1917 Maxwell Touring Car' '1936 Chrysler Airflow' 'HMS Bounty'
 'America West Airlines B757-200' 'American Airlines: MD-11S'
 'Boeing X-32A JSF' '2002 Suzuki XREO' '1982 Ducati 900 Monster'
 '1982 Ducati 996 R' '1974 Ducati 350 Mk3 Desmo' '2002 Yamaha YZR M1'
 '1998 Chrysler Plymouth Prowler' '1970 Dodge Coronet'
 '1992 Porsche Cayenne Turbo Silver' 'Diamond T620 Semi-Skirted Tanker'
 '1957 Vespa GS150' '1957 Corvette Convertible' '1961 Chevrolet Impala'
 '1972 Alfa Romeo GTA' '1912 Ford Model T Delivery Wagon'
 'The Schooner Bluenose' 'The USS Constitution Ship' 'The Titanic'
 '1903 Ford Model A' 'Collectable Wooden Train' '1904 Buick Runabout'
 '18th century schooner' '1940 Ford Delivery Sedan' 'The Mayflower'
 'The Queen Mary' 'Pont Yacht' '1917 Grand Touring Sedan'
 '1911 Ford Town Car' '1932 Alfa Romeo 8C2300 Spider Sport'
 '1936 Mercedes Benz 500k Roadster' '1969 Dodge Charger' '1993 Mazda RX-7'
 '1965 Aston Martin DB5' '1948 Porsche 356-A Roadster' '1995 Honda Civic'
 '1999 Indy 500 Monte Carlo SS' '1948 Porsche Type 356 Roadster'
 '1970 Chevy Chevelle SS 454' '1966 Shelby Cobra 427 S/C'
 '1949 Jaguar XK 120' '1952 Citroen-15CV' '1982 Lamborghini Diablo'
 '1969 Chevrolet Camaro Z28' '2002 Chevy Corvette'
 '1956 Porsche 356A Coupe' '1952 Alpine Renault 1300'
 '1940 Ford Pickup Truck' '1932 Model A Ford J-Coupe'
 '1928 Mercedes-Benz SSK' '1913 Ford Model T Speedster'
 '1934 Ford V8 Coupe' '18th Century Vintage Horse Carriage'
 '1939 Chevrolet Deluxe Coupe' '1938 Cadillac V-16 Presidential Limousine'
 '1928 Ford Phaeton Deluxe' '1930 Buick Marquette Phaeton'
 'American Airlines: B767-300']
['2001 Ferrari Enzo' '1969 Corvair Monza' '1969 Ford Falcon'
 '1957 Chevy Pickup' '1998 Chrysler Plymouth Prowler'
 '1964 Mercedes Tour Bus' '1992 Ferrari 360 Spider red'
 '1970 Triumph Spitfire' '1970 Dodge Coronet'
 '1958 Chevy Corvette Limited Edition' '1992 Porsche Cayenne Turbo Silver'
 '1954 Greyhound Scenicruiser' "1950's Chicago Surface Lines Streetcar"
 'Diamond T620 Semi-Skirted Tanker' '1962 City of Detroit Streetcar'
 '1993 Mazda RX-7' '1965 Aston Martin DB5' '1917 Grand Touring Sedan'
 '1995 Honda Civic' '1911 Ford Town Car' '1932 Model A Ford J-Coupe'
 '1999 Indy 500 Monte Carlo SS' '1948 Porsche Type 356 Roadster'
 '1932 Alfa Romeo 8C2300 Spider Sport' '1957 Ford Thunderbird'
 '1970 Chevy Chevelle SS 454' '1966 Shelby Cobra 427 S/C'
 '1949 Jaguar XK 120' '1952 Citroen-15CV' '1969 Chevrolet Camaro Z28'
 '2002 Chevy Corvette' '1936 Mercedes Benz 500k Roadster'
 '1937 Lincoln Berline' '1936 Mercedes-Benz 500K Special Roadster'
 '1969 Harley Davidson Ultimate Chopper'
 '2003 Harley-Davidson Eagle Drag Bike' '2002 Suzuki XREO'
 '1957 Vespa GS150' '1997 BMW R 1100 S' '1982 Ducati 900 Monster'
 '1982 Ducati 996 R' '1974 Ducati 350 Mk3 Desmo' '2002 Yamaha YZR M1'
 '1939 Cadillac Limousine' '1962 Volkswagen Microbus'
 '1936 Chrysler Airflow' '1980’s GM Manhattan Express'
 '1996 Peterbilt 379 Stake Bed with Outrigger' '1982 Camaro Z28'
 '1982 Lamborghini Diablo' '1972 Alfa Romeo GTA' '1904 Buick Runabout'
 '18th century schooner' '1912 Ford Model T Delivery Wagon'
 'The Schooner Bluenose' 'The USS Constitution Ship' 'The Titanic'
 'The Queen Mary' 'Pont Yacht' '1952 Alpine Renault 1300'
 '1962 LanciaA Delta 16V' '1958 Setra Bus' '1940 Ford Pickup Truck'
 '1940s Ford truck' '1913 Ford Model T Speedster' '1934 Ford V8 Coupe'
 '18th Century Vintage Horse Carriage' '1917 Maxwell Touring Car'
 'The Mayflower' '1903 Ford Model A' 'Collectable Wooden Train'
 '1969 Dodge Super Bee' '1957 Corvette Convertible'
 '1961 Chevrolet Impala']
['1969 Harley Davidson Ultimate Chopper' '1996 Moto Guzzi 1100i'
 '2003 Harley-Davidson Eagle Drag Bike' '2002 Suzuki XREO'
 '1936 Harley Davidson El Knucklehead' '1997 BMW R 1100 S'
 '1960 BSA Gold Star DBD34' '1997 BMW F650 ST' '1972 Alfa Romeo GTA'
 '1999 Yamaha Speed Boat' '1903 Ford Model A' 'Collectable Wooden Train'
 '1904 Buick Runabout' '18th century schooner'
 '1912 Ford Model T Delivery Wagon' '1940 Ford Delivery Sedan'
 'The Schooner Bluenose' 'The Mayflower' 'The USS Constitution Ship'
 'The Titanic' 'The Queen Mary' 'Pont Yacht' '1957 Chevy Pickup'
 '1998 Chrysler Plymouth Prowler' '1964 Mercedes Tour Bus'
 '1992 Ferrari 360 Spider red' '1970 Triumph Spitfire'
 '1970 Dodge Coronet' '1958 Chevy Corvette Limited Edition'
 '1992 Porsche Cayenne Turbo Silver' '1954 Greyhound Scenicruiser'
 "1950's Chicago Surface Lines Streetcar"
 'Diamond T620 Semi-Skirted Tanker' '1962 City of Detroit Streetcar'
 '1968 Ford Mustang' '1968 Dodge Charger' '1970 Plymouth Hemi Cuda'
 '1969 Dodge Charger' '1948 Porsche 356-A Roadster' '1969 Dodge Super Bee'
 'Boeing X-32A JSF' '1965 Aston Martin DB5' '1999 Indy 500 Monte Carlo SS'
 '1948 Porsche Type 356 Roadster' '1970 Chevy Chevelle SS 454'
 '1966 Shelby Cobra 427 S/C' '1949 Jaguar XK 120'
 '1969 Chevrolet Camaro Z28' '2002 Chevy Corvette' 'P-51-D Mustang'
 '1900s Vintage Tri-Plane' 'ATA: B757-300' '2001 Ferrari Enzo'
 '1969 Corvair Monza' '1969 Ford Falcon' '1952 Alpine Renault 1300'
 '1958 Setra Bus' '1940 Ford Pickup Truck' '1913 Ford Model T Speedster'
 '1934 Ford V8 Coupe' '18th Century Vintage Horse Carriage'
 '1917 Maxwell Touring Car' '1939 Cadillac Limousine'
 '1936 Chrysler Airflow' '1996 Peterbilt 379 Stake Bed with Outrigger'
 '1982 Camaro Z28' '1962 LanciaA Delta 16V' '1926 Ford Fire Engine'
 '1940s Ford truck' '1962 Volkswagen Microbus'
 '1980’s GM Manhattan Express' '1928 British Royal Navy Airplane'
 'Corsair F4U ( Bird Cage)' '1928 Ford Phaeton Deluxe'
 '1930 Buick Marquette Phaeton' 'American Airlines: B767-300'
 'America West Airlines B757-200' 'F/A 18 Hornet 1/72'
 'American Airlines: MD-11S' '1941 Chevrolet Special Deluxe Cabriolet'
 'HMS Bounty' '1980s Black Hawk Helicopter' '1900s Vintage Bi-Plane'
 '1937 Horch 930V Limousine' '1957 Vespa GS150'
 '1957 Corvette Convertible' '1993 Mazda RX-7' '1995 Honda Civic'
 '1982 Lamborghini Diablo' '1917 Grand Touring Sedan'
 '1971 Alpine Renault 1600s' '1956 Porsche 356A Coupe'
 '1961 Chevrolet Impala' '1982 Ducati 996 R' '1974 Ducati 350 Mk3 Desmo'
 '2002 Yamaha YZR M1']
['1952 Alpine Renault 1300' '1962 LanciaA Delta 16V' '1958 Setra Bus'
 '1940 Ford Pickup Truck' '1926 Ford Fire Engine' '1940s Ford truck'
 '1939 Cadillac Limousine' '1962 Volkswagen Microbus'
 '1980’s GM Manhattan Express'
 '1996 Peterbilt 379 Stake Bed with Outrigger' '1982 Camaro Z28'
 '2001 Ferrari Enzo' '1969 Corvair Monza' '1969 Ford Falcon'
 '1903 Ford Model A' 'Collectable Wooden Train' '1904 Buick Runabout'
 '18th century schooner' '1912 Ford Model T Delivery Wagon'
 '1962 City of Detroit Streetcar' 'The Schooner Bluenose' 'The Mayflower'
 'The USS Constitution Ship' 'The Titanic' 'The Queen Mary' 'Pont Yacht'
 '1937 Lincoln Berline' '1936 Mercedes-Benz 500K Special Roadster'
 '1917 Grand Touring Sedan' '1911 Ford Town Car'
 '1932 Model A Ford J-Coupe' '1928 Mercedes-Benz SSK'
 '1917 Maxwell Touring Car' '1932 Alfa Romeo 8C2300 Spider Sport'
 '1957 Ford Thunderbird' '1939 Chevrolet Deluxe Coupe'
 '1938 Cadillac V-16 Presidential Limousine' '1949 Jaguar XK 120'
 '1952 Citroen-15CV' '1969 Chevrolet Camaro Z28'
 '1936 Mercedes Benz 500k Roadster' '1964 Mercedes Tour Bus'
 '1992 Ferrari 360 Spider red' '1958 Chevy Corvette Limited Edition'
 '1954 Greyhound Scenicruiser' '1957 Vespa GS150' '1957 Chevy Pickup'
 '1998 Chrysler Plymouth Prowler' '1970 Dodge Coronet'
 '1992 Porsche Cayenne Turbo Silver'
 "1950's Chicago Surface Lines Streetcar"
 'Diamond T620 Semi-Skirted Tanker'
 '1969 Harley Davidson Ultimate Chopper' '1996 Moto Guzzi 1100i'
 '2003 Harley-Davidson Eagle Drag Bike' '2002 Suzuki XREO'
 '1936 Harley Davidson El Knucklehead' '1997 BMW R 1100 S'
 '1960 BSA Gold Star DBD34' '1993 Mazda RX-7' '1995 Honda Civic'
 '2002 Yamaha YZR M1' '1972 Alfa Romeo GTA' '1968 Ford Mustang'
 '1968 Dodge Charger' '1970 Plymouth Hemi Cuda' '1969 Dodge Charger'
 '1948 Porsche 356-A Roadster' '1969 Dodge Super Bee'
 '1976 Ford Gran Torino' '1957 Corvette Convertible'
 '1982 Lamborghini Diablo' '1971 Alpine Renault 1600s'
 '1956 Porsche 356A Coupe' '1961 Chevrolet Impala' '1982 Ducati 996 R'
 '1970 Chevy Chevelle SS 454' '1982 Ducati 900 Monster'
 '1974 Ducati 350 Mk3 Desmo' '1965 Aston Martin DB5'
 '1999 Indy 500 Monte Carlo SS' '1948 Porsche Type 356 Roadster'
 '1966 Shelby Cobra 427 S/C' '1980s Black Hawk Helicopter'
 'P-51-D Mustang' '1999 Yamaha Speed Boat'
 '1941 Chevrolet Special Deluxe Cabriolet'
 '1928 British Royal Navy Airplane' '1900s Vintage Bi-Plane'
 '1937 Horch 930V Limousine' 'Corsair F4U ( Bird Cage)'
 '1900s Vintage Tri-Plane' '1928 Ford Phaeton Deluxe'
 '1930 Buick Marquette Phaeton' 'American Airlines: B767-300' 'HMS Bounty'
 'America West Airlines B757-200' 'ATA: B757-300' 'F/A 18 Hornet 1/72'
 'American Airlines: MD-11S' 'Boeing X-32A JSF']
['1965 Aston Martin DB5' '1999 Indy 500 Monte Carlo SS'
 '1948 Porsche Type 356 Roadster' '1966 Shelby Cobra 427 S/C'
 '1996 Moto Guzzi 1100i' '1936 Harley Davidson El Knucklehead'
 '1938 Cadillac V-16 Presidential Limousine'
 '1969 Harley Davidson Ultimate Chopper'
 '2003 Harley-Davidson Eagle Drag Bike' 'P-51-D Mustang'
 '1997 BMW R 1100 S' '1928 British Royal Navy Airplane'
 '1960 BSA Gold Star DBD34' 'Corsair F4U ( Bird Cage)'
 '1900s Vintage Tri-Plane' '1997 BMW F650 ST' '1928 Ford Phaeton Deluxe'
 '1930 Buick Marquette Phaeton' 'American Airlines: B767-300'
 'America West Airlines B757-200' 'ATA: B757-300' 'F/A 18 Hornet 1/72'
 'American Airlines: MD-11S' '1904 Buick Runabout' '18th century schooner'
 '1912 Ford Model T Delivery Wagon' 'The Schooner Bluenose' 'The Titanic'
 'The Queen Mary' 'Pont Yacht' '1968 Ford Mustang' '2002 Suzuki XREO'
 '1982 Ducati 900 Monster' '1974 Ducati 350 Mk3 Desmo'
 '2002 Yamaha YZR M1' '1962 LanciaA Delta 16V' '1957 Chevy Pickup'
 '1998 Chrysler Plymouth Prowler' '1964 Mercedes Tour Bus'
 '1926 Ford Fire Engine' '1992 Ferrari 360 Spider red' '1940s Ford truck'
 '1970 Dodge Coronet' '1962 Volkswagen Microbus'
 '1958 Chevy Corvette Limited Edition' '1980’s GM Manhattan Express'
 '1954 Greyhound Scenicruiser' 'Diamond T620 Semi-Skirted Tanker'
 '1969 Corvair Monza' '1970 Triumph Spitfire'
 '1992 Porsche Cayenne Turbo Silver'
 "1950's Chicago Surface Lines Streetcar" '1962 City of Detroit Streetcar'
 '1903 Ford Model A' 'Collectable Wooden Train' 'The Mayflower'
 '2001 Ferrari Enzo' '1969 Ford Falcon' '1982 Ducati 996 R'
 '1968 Dodge Charger' '1970 Plymouth Hemi Cuda' '1969 Dodge Charger'
 '1948 Porsche 356-A Roadster' '1969 Dodge Super Bee'
 '1976 Ford Gran Torino' '1982 Lamborghini Diablo'
 '1971 Alpine Renault 1600s' '1956 Porsche 356A Coupe'
 '1937 Lincoln Berline' '1936 Mercedes-Benz 500K Special Roadster'
 '1928 Mercedes-Benz SSK' '1939 Chevrolet Deluxe Coupe' '1993 Mazda RX-7'
 '1995 Honda Civic' '1970 Chevy Chevelle SS 454' '1949 Jaguar XK 120'
 '1969 Chevrolet Camaro Z28' '2002 Chevy Corvette'
 '1913 Ford Model T Speedster' '1934 Ford V8 Coupe'
 '18th Century Vintage Horse Carriage' '1917 Maxwell Touring Car'
 '1936 Chrysler Airflow' '1980s Black Hawk Helicopter'
 '1999 Yamaha Speed Boat' '1941 Chevrolet Special Deluxe Cabriolet'
 '1900s Vintage Bi-Plane' '1937 Horch 930V Limousine'
 '1940 Ford Delivery Sedan' 'HMS Bounty' 'Boeing X-32A JSF'
 '1957 Ford Thunderbird' '1952 Citroen-15CV'
 '1932 Alfa Romeo 8C2300 Spider Sport' '1972 Alfa Romeo GTA'
 'The USS Constitution Ship' '1957 Vespa GS150'
 '1957 Corvette Convertible' '1961 Chevrolet Impala'
 '1939 Cadillac Limousine' '1996 Peterbilt 379 Stake Bed with Outrigger'
 '1982 Camaro Z28' '1917 Grand Touring Sedan' '1911 Ford Town Car'
 '1932 Model A Ford J-Coupe' '1936 Mercedes Benz 500k Roadster'
 '1952 Alpine Renault 1300' '1958 Setra Bus' '1940 Ford Pickup Truck']
['1972 Alfa Romeo GTA' '2001 Ferrari Enzo' '1969 Ford Falcon'
 '1903 Ford Model A' 'Collectable Wooden Train' '1904 Buick Runabout'
 '18th century schooner' '1912 Ford Model T Delivery Wagon'
 '1940 Ford Delivery Sedan' 'The Schooner Bluenose' 'The Mayflower'
 'The USS Constitution Ship' 'The Titanic' 'The Queen Mary' 'Pont Yacht'
 '1968 Ford Mustang' '1968 Dodge Charger' '1970 Plymouth Hemi Cuda'
 '1969 Dodge Super Bee' '1976 Ford Gran Torino'

## Level Up: Display the Number of Products each employee has sold

In [9]:
# Your code here

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!